page-flood-description {

    // .card-background {
    //     background-color: rgb(226, 229, 229);

    // }

    .toolbar-background{
        // background-color:rgb(6, 210, 247);
       background-image: url('../../assets/logoImgs/bg8.jpg');    

    }

    .toolbar-title {
        color : #fff;
        font-weight: bold;
        font-size: 25px
    }   
    // .action-sheet-ios-padding-bottom{
    //     padding-top: 80px
    // }

}
